streamlit           # For building the interactive web app
pandas              # For data manipulation and handling CSV files
pathlib             # For handling file paths (part of Python's standard library)
plotly